.navigationBar {
    display: flex;
    padding: 0 99px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    background-color: #fff;
    position: sticky;
    top: 0; left: 0; right: 0;
    box-shadow: var(--box-shadow);
}

.brand-logo img{
    width: 100px;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    list-style: none;
    margin: 0px
}

.navbar-link__item {
    padding: 10px 20px;
    margin: 0 10px;
}

.navbar-link__item ul li a{
    color: pink;
}

.navbar-link__item a{
    text-decoration: none;
}

.btn-login {
    min-width: 108px;
    height: 44px;
    border: none;
    border-radius: 100px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: bold;
}

.mobile-menu-icon {
    display: none;
}