@media only screen and (max-width: 1200px) {
    /* footer */
    #footer .footer {
        padding-left: 60px;
        padding-right: 60px;
    }
    /* artikel */
    #artikel2 .artikel-gbr {
        height: 150px;
    }

    .box-content, .foto-trimester img {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    /* footer */
    #footer .footer {
        padding-left: 40px;
        padding-right: 40px;
    }
    .box-content, .foto-trimester img {
        width: 100%;
    }
}

@media screen and (max-width: 986px) {
    .content-info, 
    .about {
        grid-template-columns: 1fr;
    }
    .content-info__inner {
        margin: 0px 0px 40px 0;
    }
    .content-info {
        gap: 0;
    }

    .about-image img {
        width: 80%;
    }
    
    .about-text {
        text-align: center;
    }
    .box-content, .foto-trimester img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .box-item {
        flex-direction: column;
    }
    .item-fitur {
        margin-top: 50px;
    }
    .item-motto {
        width: 60%;
    }
    .item-motto p{
        font-size: 1em;
    }
    /* artikel2 */
    #artikel2 .artikel-listCard {
        display: block;
    }
    #artikel2 .artikel-card {
        margin-bottom: 25px;
    }
    #artikel2 .artikel-learn-more {
        font-size: 16px;
    }
    #artikel2 .artikel-judul2 {
        font-size: 18px;
    }
    #artikel2 .artikel-judul {
        font-size: 36px;
    }
    #artikel2 .artikel-learn-more {
        font-size: 16px;
    }
    #artikel2 .artikel-text2 {
        font-size: 14px;
    }
    #artikel2 .artikel-gbr {
        height: 190px;
    }

    .box-content, .foto-trimester img {
        width: 100%;
    }

    .container-about-us {
        margin: 20px;
        flex-direction: column;
        justify-content: center;
        width: auto;
    }

    .box-content-trimester {
        width: 90%;
        margin: 0 auto;
    }
    
    .card-team {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
        width: auto;
    }

    .our-team-text {
        width: 100%;
    }

    .our-team-text h2 {
        width: 100%;
    }

    .about-sp {
        width: 100%;
    }
}

@media (max-width: 998px) {
    /* artikel2 */
    #artikel2 .artikel-listCard {
        grid-template-columns: repeat(2, 1fr);
    }

    .box-content, .foto-trimester img {
        width: 100%;
    }
}

@media (max-width: 560px) {
    /* artikel2 */
    #artikel2 .artikel-listCard {
        margin-left: 40px;
        margin-right: 40px;
    }
    #artikel2 .artikel-learn-more {
        width: 8em;
        height: 44px;
    }

    .box-content, .foto-trimester img {
        width: 100%;
    }
}