.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 105px 0;
    gap: 69px;
}

.about-image {
    width: 100%;
    text-align: center;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

.about-text {
    margin: auto;
}
.about-text__title {
    color: var(--primary);
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 42px;
    font-family: 'DM Sans', sans-serif;
}

.about-text__decs {
    color: var(--grey);
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}