.box-item {
    display: flex;
    background: #FFF0F3;
    justify-content: space-evenly;
}

.item-fitur {
    text-align: center;
    font-size: 50px;
    margin: 40px 0;
}

.item-fitur__title {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 1.1rem;
}

.article__title{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
    text-align: center;
    margin: 60px 0 30px 0;
}

.box-content{
    width: 80%;
    margin: 0 auto;
}
.content-info {
    display: grid;
    width: 100%;
    margin: 100px auto;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}
.content-info__inner {
    padding: 40px 0;
    margin: 40px 0;
    height: 224px;
    width: 100%;
}
.content-info__title {
    font-size: 32px;
    margin-bottom: 15px;
}
.content-info__desc {
    font-size: 13px;
    line-height: 2;
}

.content-info__images {
    align-items: center;
    height: 100%;
    display: grid;
    grid-template-areas: 
    'image-1 image-2'
    'image-1 image-3';
    gap: 10px;

}
.image-1 {
    grid-area: image-1;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.image-2 {
    grid-area: image-2;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.image-3 {
    grid-area: image-3;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}


