.foto-trimester{
    display: flex;
    align-items: center;
}

.box-content, .foto-trimester img {
    margin: auto;
}

.container-usia-janin {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    /* margin-bottom: 50px; */
    margin: 60px;
}
.container-usia-janin li{
    list-style: none;
}
.container-usia-janin li:hover {
    box-shadow: 0 5px 10px 0 #FF758F;
}
.container-usia-janin a {
    padding: 0.5em 0;
    display: block;
    text-decoration: none;
    color: var(--primary);
    border: 0.5px solid var(--primary);
    border-width: 0 0 0.10px;
}

.desc-trimester-123 p {
    text-align: justify;
    text-indent: 45px;
}

.box-content-trimester {
    width: 80%;
    margin: 0 auto;
}
